@media screen and (max-width: 1600px) { 
.container {width: 1500px} 
.login5,.login5_2,.login5_3,.login5_4,.login5_5,.login5_6{ width:50%;}
.login51,.login51_2,.login51_3,.login51_4,.login51_5,.login51_6{ width:50%;}
.table_input tr{ height:20px; line-height:20px;}
.table_input{font-size:large;}
.figureDiv{width: 80%; margin-left: 10%}

} 
@media screen and (max-width: 1440px) { 
.container {width: 1200px} 
.login5,.login5_2,.login5_3,.login5_4,.login5_5,.login5_6{ width:70%;}
.login51,.login51_2,.login51_3,.login51_4,.login51_5,.login51_6{ width:70%;}
.table_input tr{ height:18px; line-height:18px;}
.table_input{font-size:medium ;}
.figureDiv{width: 90%; margin-left: 5%}
.h6Show{font-size: large;margin-left: 2%}
} 
@media screen and (max-width: 1280px) { 
.container {width: 1050px;} 
.login5,.login5_2,.login5_3,.login5_4,.login5_5,.login5_6{ width:70%;}
.login51,.login51_2,.login51_3,.login51_4,.login51_5,.login51_6{ width:70%;}
.table_input tr{ height:18px; line-height:18px;}
.table_input{font-size:medium ;}
.figureDiv{width: 93%; margin-left: 3%}
.h6Show{font-size: large;margin-left: 2%}
} 
@media screen and (max-width: 1024px) { 
.container {width: 900px;} 
.login5,.login5_2,.login5_3,.login5_4,.login5_5,.login5_6{ width:70%;}
.login51,.login51_2,.login51_3,.login51_4,.login51_5,.login51_6{ width:70%;}
.table_input tr{ height:15px;line-height:15px;}
.table_input{font-size:medium ;}
.figureDiv{width: 96%; margin-left: 2%}
}
